# mounts the stick and start the systemd service which will run the brainwashing script
SUBSYSTEM=="block", ENV{UDISKS_AUTO}="0", ENV{UDISKS_IGNORE}="1" ACTION=="add", SYMLINK+="brainwasher", TAG+="systemd", ENV{SYSTEMD_WANTS}+="brainwasher"