*.pdb
*.idb
*.ncb
*.ilk
*.suo
*.vcproj
*.vcxproj
*.vcxproj.filters
premake4.exe
*.opensdf
*.sdf
*.sln
./NaoTHSoccer/Make/ipch
./Projects/XabslEditor
.dep.inc
private/
./NaoTHSoccer/Config/private/*
./Platforms/Make/Makefile
./Platforms/Make/*.make
./NaoTH-Tools/Make/Makefile
./NaoTH-Tools/Make/*.make
TestBehavior/Makefile
TestBehavior/*.make
DebugCommunication/Make/*.make
DebugCommunication/Make/Makefile
DebugCommunication/Dist/
obj
Makefile-All.mk
Package-All.bash
TestBehavior/nao_soccer_player_red
Extern/bin/*
Extern/include/*
Extern/lib/*
Extern/share/*
Extern/etc/*
Extern/downloads/
Extern/extracted/
dist/
build/
SimpleSoccerAgent/Makefile
SimpleSoccerAgent/simple-soccer-agent
SimpleSoccerAgent/*.make
NaoTHSoccer/Make/*.mk
NaoTHSoccer/Make/Makefile
NaoTHSoccer/Make/*.make
*.tags
*.session
NaoTHSoccer/Tests/executeTests
nao_robocup
NaoTHSoccer/TODO
Framework/NaoTH-Commons/Make/Makefile
Framework/Platforms/Make/Makefile
Framework/Platforms/Make/nbproject/Package-Default.bash
NaoTHSoccer/Make/NaoTHSoccer.workspace
SimpleSoccerAgent/Make/Makefile
SimpleSoccerAgent/nbproject/Package-Default.bash
*.project
*.config
*.creator
*.creator.user.2.3pre1
*.files
*.includes
*.make
*.mk
*.user
RobotControl/RobotControlGUI/plugins/
build-impl.xml
genfiles.properties
doc/html/
Deploy
NaoTHSoccer/Config/behavior-ic.dat
Utils/Video2Log/video2log
*~
*.creator.*
stopwatch.dump
*.pb.h
*.pb.cc
RobotControl/RobotConnector/src/de/naoth/rc/messages
