#general
dist/
build/
private/
backup_*/
#deploy/
NaoSCP/tmp/
XabslEditor/

#java project files
build.xml
build-impl.xml
genfiles.properties

#python
*.pyc
.idea/
naoth.egg-info*
*_pb2.py

#
trace.dump.*
projectconfig.user.lua
*~
compile_commands.json

#messages
RobotControl/RobotConnector/src/de/naoth/rc/messages
NaoTHSoccer/Source/Messages
Framework/Commons/Source/Messages

#particular files
behavior-ic.dat

#vim swap files
.*.swp
