#general
dist/
build/
private/
deploy/
NaoSCP/tmp/
XabslEditor/

#java project files
build.xml
build-impl.xml
genfiles.properties

#python
*.pyc
.idea/
naoth.egg-info*

#
trace.dump.*
projectconfig.user.lua
*~
compile_commands.json

#messages
RobotControl/RobotConnector/src/de/naoth/rc/messages
NaoTHSoccer/Source/Messages
Framework/Commons/Source/Messages

#particular files
behavior-ic.dat

#vim swap files
.*.swp
/NaoTHSoccer/Test/Source/USBJoypad/USBJoypad.vcxproj
/NaoTHSoccer/Test/Source/USBJoypad/USBJoypad.vcxproj.filters
/NaoTHSoccer/Test/Source/USBJoypad/USBJoypad.vcxproj.user
*.cp0
/NaoTHSoccer/Test/Source/USBJoypad/nao/Printable.cpp
*.vcxproj
*.vcxproj.filters
*.vcxproj*
*.vcxproj.*
/NaoTHSoccer/Test/Source/USBJoypad/sa_main.cpp
