[PoseBeforeKickOff]

# This is the configuration for the start pose of robot in SPL
Player1.Pose.x = -2.5;
Player1.Pose.y = 2.5;
Player1.Pose.rot = -90;

Player2.Pose.x = -2;
Player2.Pose.y = 2.5;
Player2.Pose.rot = -90;

Player3.Pose.x = -1.5;
Player3.Pose.y = 2.5;
Player3.Pose.rot = -90;

Player4.Pose.x = -2;
Player4.Pose.y = -2.5;
Player4.Pose.rot = 90;

Player5.Pose.x = -1.5;
Player5.Pose.y = -2.5;
Player5.Pose.rot = 90;

