[global]
Name=wifi
Description=wifi network settings

[service_spl_field_2ghz_a]
Type = wifi
Name = SPL_FIELD_2ghz_A
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_5ghz_a]
Type = wifi
Name = SPL_FIELD_5ghz_A
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_2ghz_b]
Type = wifi
Name = SPL_FIELD_2ghz_B
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_5ghz_b]
Type = wifi
Name = SPL_FIELD_5ghz_B
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_2ghz_c]
Type = wifi
Name = SPL_FIELD_2ghz_C
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_5ghz_c]
Type = wifi
Name = SPL_FIELD_5ghz_C
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_2ghz_d]
Type = wifi
Name = SPL_FIELD_2ghz_D
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_5ghz_d]
Type = wifi
Name = SPL_FIELD_5ghz_D
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_2ghz_e]
Type = wifi
Name = SPL_FIELD_2ghz_E
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_5ghz_e]
Type = wifi
Name = SPL_FIELD_5ghz_E
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_a]
Type = wifi
Name = SPL_A
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_a5]
Type = wifi
Name = SPL_A5
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_naonet]
Type = wifi
Name = NAONET
Passphrase = a1b0a1b0a1
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__
