[Unit]
Description=Python-LEDServer controller startup-script
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/led

[Install]
WantedBy=multi-user.target