[modules]
TeamCommReceiver=true
GameController=true
BatteryAlert=true
ButtonEventMonitor=true
LEDSetter=true

CameraDebug=true
CameraInfoSetter=true
CameraMatrixFinder=true
KinematicChainProvider=true
ArtificialHorizonCalculator=true
BodyContourProvider=true

HistogramProvider=true
SimpleFieldColorClassifier=true
ScanLineEdgelDetector=true
FieldDetector=true
LineGraphProvider=true
GoalFeatureDetector=true
GoalDetector=true
BallDetector=true

BodyStateProvider=true
FieldCompass=true
UltraSoundObstacleLocator=true
SoccerStrategyProvider=true
PotentialFieldProvider=true
#GPS_SelfLocator=true
MonteCarloSelfLocator=true
OdometrySelfLocator=true
WholeGoalLocator=true
DummyActiveGoalLocator=true
KalmanFilterBallLocator=true

BasicTestBehavior=false
XABSLBehaviorControl=true

TeamCommSender=true

Debug=true
FrameRateCheck=true
DebugExecutor=true