# Mounts the stick and starts the systemd service which will run the brainwashing script
KERNEL=="sd*", SUBSYSTEMS=="usb", ENV{ID_FS_TYPE}=="vfat", ACTION=="add", SYMLINK+="brainwasher", ENV{SYSTEMD_WANTS}+="brainwasher"

# NOTE: Some component of ubuntu currently automounts the stick to /media/booster/<stickname>
# It does not seem to cause any problems
