[Unit]
Description = Booster K1 Body Bridge Service
#After = lola.service pulseaudio.service
#Wants = lola.service pulseaudio.service
#Requires = lola.service
#Requires = pulseaudio.service
ConditionPathExists=/home/booster/naoth/bin/ros_image_bridge.py

[Service]
Type=idle
WorkingDirectory=/home/booster/naoth/
ExecStart = /usr/bin/python3 -u /home/booster/naoth/bin/ros_image_bridge.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy = default.target