[global]
Name=wifi
Description=wifi network settings

[service_spl_field_2ghz_d]
Type = wifi
Name = SPL_FIELD_2ghz_D
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__

[service_spl_field_5ghz_d]
Type = wifi
Name = SPL_FIELD_5ghz_D
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.255.0.0/0.0.0.0
MAC = __WLAN_MAC__
