[global]
Name=wifi
Description=wifi network settings

[service_spl_a]
Type = wifi
Name = SPL_A
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.255.0.0/0.0.0.0
MAC = BC:30:7E:A9:FA:A8

[service_spl_a5]
Type = wifi
Name = SPL_A5
Passphrase = Nao?!Nao?!
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = BC:30:7E:A9:FA:A8

[service_naonet]
Type = wifi
Name = NAONET
Passphrase = a1b0a1b0a1
IPv4 = 10.0.4.__NAO__/255.255.0.0/0.0.0.0
MAC = BC:30:7E:A9:FA:A8
